#new-item {
    margin-top:90px;
    width: 100%;
}

#msg_container {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow-y: auto;
}

.card {
    margin-top: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.weather-container {
    padding-left: 30px;
}

.location {
    font-weight: bolder;
}

.description {
    font-style: italic;
    font-size: 17px;
}

.humidity {
    font-weight: bolder;
    display: flex;
}
