#new-item {
    margin-top:90px;
    width: 100%;
}

#msg_container {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow-y: auto;
}

.card {
    margin-top: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationInput {
    margin: 0;
    border: 2px solid rgb(1, 33, 129);
    border-radius: 5px;
    height: 40px;
}

.location {
    font-weight: bolder;
    margin: 0;
    margin-left: 20px;
}

.temp {
    margin-left: 20px;
}

.description {
    font-style: italic;
    font-size: 17px;
    margin: 0;
    margin-left: 20px;
}

.humidity {
    font-weight: bolder;
    margin-left: 20px;
}
