#new-item {
    text-align: center;
    margin-top: 200px;
}

.inputGroup {
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 0;
}

.inputField {
    width: 100%;
    height: 50px;
    border: 2px solid rgb(1, 33, 129);
    border-radius: 5px;
}

.inputField::placeholder {
    text-align: center;
    font-weight: bold;
}

#contentField {
    height: 100px;
}

.enter {
    margin-top: 20px;
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: rgb(1, 33, 129);
}

.enter:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.enter:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.enter::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
   
.enter::after {
    background-color: rgb(1, 33, 129);
}

.enter:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}