.userTag {
    color: black;
    text-align: center;
}

.emailTag {
    text-align: center;
}

.profileContainer {
    margin-top:90px;
    width: 100%;
}

.tagsContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagContainer {
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.textTags {
    color: rgb(1, 33, 129);
    margin-top: -15px;
    font-weight: bold;
}

.numTags {
    font-weight: lighter;
}

.entriesContainer {
    margin-top: 40px;
    overflow-y: scroll;
    width: 100%;
    height: 500px;
    background-color: rgb(174, 193, 237);
}